<center><b><h1>Welcome to Greencastle Grub!</h1></b>
<br>

<p>Greencastle Grub functions as a restaurant review site for users to browse and rate local Greencastle restaurants and cafes. It works as an aid to DePauw students, faculty, parents and prospective students as well as Greencastle residents. Additionally, restaurants can benefit from using this web application as a tool to listen to customer feedback and further improve their restaurants and the overall customer experience. </p>
<br>


<p>Many people continue to go to the same few restaurants in the area and that is for two reasons. One is their lack of knowledge of the many restaurants in the Greencastle area as well as their hesitation to try new places in fear of having a bad experience. Greencastle Grub allows users to find new restaurants as well as read several reviews so they feel more confident in choosing to eat at a new place! </p>
<br>
<br>
















<p> Product of <%= link_to "DePauw University", "http://www.depauw.edu" %> </p> 
<p> Copyright Chelsea Murray </p> </center>

